#adatBevitel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#adatBevitel > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

#autok {
  width: 100%;
  table-layout: fixed;
}

#autok > colgroup > col:not(:last-child) {
  width: calc((100% - 64px) / (var(--col-count) - 1));
}

#autok > colgroup > col:last-child {
  width: 64px;
}

@media screen and (max-width: 992px) {
  #adatBevitel {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #adatBevitel {
    grid-template-columns: 1fr;
  }

  #adatBevitel > div {
    text-align: left;
  }
}
