#adatBevitel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#adatBevitel > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

#autok {
  overflow-x: auto;
}

#autok > table {
  width: 100%;
  min-width: 768px;
  table-layout: fixed;
}

#autok > table > colgroup > col:not(:last-child) {
  width: calc((100% - 64px) / (var(--oszlopok-szama) - 1));
}

#autok > table > colgroup > col:last-child {
  width: 64px;
}

#autok > table > thead > tr > th > div {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 4px;
}

#autok > table > thead > tr > th input {
  width: 100%;
}

@media screen and (max-width: 992px) {
  #adatBevitel {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #adatBevitel {
    grid-template-columns: 1fr;
  }

  #adatBevitel > div {
    text-align: left;
  }
}
