@import url("altalanosStilus.css");

#webshopAutok > div {
  width: 256px;
}

#webshopAutok > div > img {
  width: 100%;
}

#webshopAutok > div .card-footer > button {
  flex-basis: 45%;
}

#autoMegtekintKep > img {
  width: 100%;
}
